<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>SISESC</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SISESC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/livros">Livros</a>
                </li>
                <li sec:authorize="isAuthenticated() and not hasRole('ADMIN')" class="nav-item" >
                    <a class="nav-link" href="/emprestimos" >Emprestimos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alunos">Alunos</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('ADMIN')"  class="nav-link" href="/cursos">Cursos</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" href="/login" class="nav-link">LOGIN</a>
                    <a sec:authorize="isAuthenticated()" href="/logout" class="nav-link">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section>

    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item"><a href="/livros">Livros</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Livro</li>
            </ol>
        </nav>
        <div sec:authorize="hasRole('ADMIN')">
            <th:block th:include="mensagemValidacao"></th:block>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="login" placeholder="Login *">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="nome" placeholder="Nome *">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="senha" placeholder="senha *">
                </div>
                <small class="form-text text-muted">(*) Campos obrigatórios</small>

                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Adicionar</button>
                <a href="/" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>

            </form>
        </div>

    </div>
</section>
</body>
</html>